.home-container {
  padding: 100px 20px;
}

section {
  margin-bottom: 50px;
  display: flex;
  gap: 20px;

}

h2 {
  color: #de6b2c;
}

.grid-container {
  margin-left: 40px;
  display: flex;
  gap: 20px;
}
.card {
  background-color: #1f1f1f;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(222, 107, 44, 0.5);
}

.card button {
  background-color: #de6b2c;
  color: #ffffff;
  padding: 8px 15px;
  border-radius: 25px;
}
