.home-container {
  margin-left: 85px; /* Adjust based on sidebar width */
  margin-top: 80px; /* Adjust based on navbar height */
  padding: 20px;
}

section {
  margin-bottom: 50px;
}

.h {
  color: #de6b2c;
  display: block;
}


.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}




.card {
  display: inline;
  background-color: #1f1f1f;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(222, 107, 44, 0.5);
}

.card button {
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 8px 15px;
  border-radius: 25px;
}
